{% extends "admin/base_site.html" %} 
 
{% block breadcrumbs %} 
<div class="breadcrumbs"> 
	<a href="{% url 'admin:index' %}">Home</a> 
	&rsaquo; <a href="{% url 'admin:index' %}master/barang/">Barang</a>
	&rsaquo; Grafik 
</div> 
{% endblock %}

{% block content %} 
<div id="content-main"> 

	<div id="grafik" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> 

		<script type="text/javascript">    var dataneJson = JSON.parse('{{ json_grafik | escapejs }}');

			Highcharts.chart('grafik', {
				 chart: { 
				 	 plotBackgroundColor: null,
				 	 plotBorderWidth: null,
				 	 plotShadow: false,
				 	 type: 'pie' 
				 },        
				 title: {
				 	 text: 'Grafik Barang Berdasarkan Kategori Barang' 
				 },
				 tooltip: { 
				 	pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				 },
				 plotOptions: { 
				 	 pie: { 
				 	 	allowPointSelect: true,
				 	 	cursor: 'pointer',
				 	 	dataLabels: { 
				 	 		enabled: true,
				 	 		format: '<b>{point.name}</b>: {point.percentage:.2f} %',
				 	 		style: { 
				 	 			color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
				 	 		}
				 	 	}
				 	 }
				 },


				 series: [{ 
				 	name: 'Kategori Barang',
				 	colorByPoint: true,
				 	data: dataneJson
				 }] 
			});   
		</script> 

</div>

{% endblock %} 