<style type="text/css">
	ul {
		list-style-type: none;
		margin: 0;
		overflow: hidden;
			font-family: arial;
			font-size: 85%;
			padding-top: 0px;
			padding-bottom: 20px;
			padding-left: 52px;
			line-height: 11px;
	}
		li {
	    float: right;
	}

	li a {
	    display: block;
	    color: white;
	    border: none;
	    border-radius: 4px;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    width: 70px;
	    transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	}

	li a:hover:not(.active) {
	    background-color: #F95355;
	    padding-top: 45px;
	}
	.active {
	    background-color: lawngreen;
	    color: black;
	}
	.transaksi {
		background-color: lawngreen;
	    color: black;
	    padding-right: 20px;
	    padding-left: 20px;
	    border-radius: 0px;
	}
</style>

	<ul>
		<br/><br/>
		<font style="color: lawngreen; font-size: 20px; font-family: arial;"><b> LAPTOP AND ASSESSORIS SHOP </b></font>
			<b>
			<li><a class="transaksi" href="penjualan">Penjualan</a></li>
			<li><a class="transaksi" href="pembelian">Pembelian</a></li>
			<li><a href="operator">Operator</a></li>
			<li><a href="barang">Barang</a></li>
			<li><a href="brand">Brand</a></li>
			<li><a href="kategoribarang">Kategori</a></li>
			<li><a class="active" href="/">Beranda</a></li>
			</b>
	</ul>
